.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #0076b3;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-activity {
  display: none;
}

.login-logo > a{
	color: #646567
}

.login-logo > a b, strong{
	color: #0076B3
}

.navbar-brand{
	color: #646567;
}

.navbar-brand > b{
	color: #0076B3;
}

.logo-mini{
	color: #646567
}

.logo-mini > b{
	color: #0076B3;
}

.logo-lg{
	color: #646567
}

.logo-lg > b{
	color: #0076B3;
}

@media (max-width: 767px) {
  .skin-black-light .main-header > .logo {
    background-color: #fff;
    color: #ffffff;
    border-bottom: 1px solid #eee;
    border-right: none;
  }
  .skin-black-light .main-header > .logo:hover {
    background-color: #eee;
  }
}

 
.text-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 13px;
}

.disabled-link {
   pointer-events: none;
   cursor: not-allowed;
   color: #dcdcdc !important;
}

.disabled-link-visible {
   pointer-events: none;
   cursor: not-allowed;
}

.active-link{
	pointer-events: none;
   	cursor: not-allowed;
}

.active-row a{
	background-color: rgb(60, 141, 188);
    color: white !important;
}

.text-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left:13px;
}

.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.fa-minus-circle.color{
	color: #d73925;
}

.fa-save.color{
	color: #008d4c;
}

.fa-edit.color{
	color: #f3c613;
}

.fa-language.color{
	color: #d83333;
}

.fa-plus.color{
	color: #008d4c;
}

.fa-dashboard.color{
	color: #3c8dbc;
}

.fa-globe.color{
	color: #59DDDD;
}

.fa-search.color{
	color: #808080;
}

.fa-file-code-o.color{
	color: red;
}

.fa-folder.color{
	color: #e0c88d;
}

.fa-calendar.color{
	color: #da0000;
}

.fa-server.color{
	color: #b31389;
}

.fa-sitemap.color{
	color: #e6cd69;
}

.select2{
	width: 100%;
}